/* footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
} */

.footers {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  /* position: fixed; */
}

.bottomtext{
  display: flex;

}